

body{
    color: black ;
    background-color: #F9F1DC;
    
}

h1{
   text-align: center;
   
}

h2 img{
    text-align: center;
    border-top: 2px solid #F5BD26;
    border-bottom: 2px solid #F5BD26;
    width: 100%;

}

p{
    text-align: center;
}

h3{
    text-align: center;
    border-bottom: 2px solid #faeac2;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
    font-size: 1.5em;
}

figure{
    text-align: center;

}


address{
    text-align: center;
    background-color: white;
    padding: 20px;

}

nav li a{
    
    display: inline-block;
    border: 2px solid yellow;
    padding: 1em 7em;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    

}

nav li{
    display: inline-block;
    margin: 0 2em 0 4em;
   
}

picture img{
    margin: 0 auto;
    max-width: 70em;
    display: block;
}
